.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
}

.search-input {
    padding: 10px 40px 10px 40px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table-bordered {
    border: 1px solid #dee2e6; /* Border for the entire table */
}

/* Reference: ChatGPT */
.table-striped-red tbody tr:nth-child(odd) td:first-child,
.table-striped-red tbody tr:nth-child(even) td:first-child {
    text-align: left;
    color: red;
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
}