.modules-buttons {
    display: flex;
    justify-content: space-between;
}

.modules-buttons button {
    margin: 0 2px;
    flex: 1
}

.module-div {
    border: 0.7px solid black;
    margin: 20px 0;
    width: 90%;
}

.module-div li {
    background-color: #F2F3F4;
    padding: 20px;
}

.fa-circle-check {
    color: #2E8B57;
}

